In [1]:
import pandas as pd

In [2]:
# Read in file
file = "vine_table.csv"
raw_df = pd.read_csv(file)
raw_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R26MV8D0KG6QI6,5,0,0,N,Y
1,R1OF8GP57AQ1A0,5,0,0,N,Y
2,R3VDC1QB6MC4ZZ,5,0,0,N,N
3,R12FA3DCF8F9ER,5,0,0,N,Y
4,RTWHVNV6X4CNJ,5,0,0,N,Y

In [3]:
# Filter vine_df for 20 or more total_votes
filtered_df = raw_df.loc[(raw_df['total_votes'] >= 20) & 
    (raw_df['helpful_votes'] / raw_df['total_votes'] >= 0.5)]
filtered_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2402386,R1IQNIT2UFQE97,5,26,27,N,N
2402395,RIQSTVHD4MQHH,5,21,23,N,N
2402398,RZOSXUI2V2LO7,5,23,23,N,N
2402414,R2XP1RFUXZWU9B,5,114,126,N,N
2402415,R1L2H6IJHX7Q6F,5,47,51,N,N

In [4]:
# Filter for vine reviews only
vine_df = filtered_df.loc[filtered_df['vine'] == 'Y']
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
78803,R3MKO875WGIEBJ,5,34,37,Y,N
90155,R3OPNTK61FQ7MP,5,32,37,Y,N
302146,RMDRU8I773X5U,4,22,25,Y,N
417135,RR83RGWFEFZCL,3,61,64,Y,N
477241,R2TMZ7GV8SPIRV,4,23,23,Y,N
...,...,...,...,...,...,...
2337396,R1HAVGFU4QGLI7,1,15,21,Y,N
2338713,R3D4YU82OM4OUK,4,34,34,Y,N
2343737,R13ZO6FYN1B76K,2,16,23,Y,N
2348117,R1Y0S1XVN156RY,4,29,41,Y,N
2354480,RP864VB3E94JN,5,19,21,Y,N

In [5]:
# Filter for non-vine reviews only
nonvine_df = filtered_df.loc[filtered_df['vine'] == 'N']
nonvine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
145,R1OAZUG90XPU2U,5,250,274,N,Y
157,R23VPTUJ8I8NR5,1,28,30,N,Y
1115,R6SRJFJ5YH4UM,5,23,26,N,Y
1309,R3DOS07BIMP4DJ,2,32,42,N,N
2371,R30PGWX4HN1CFG,1,85,95,N,Y
...,...,...,...,...,...,...
2402386,R1IQNIT2UFQE97,5,26,27,N,N
2402395,RIQSTVHD4MQHH,5,21,23,N,N
2402398,RZOSXUI2V2LO7,5,23,23,N,N
2402414,R2XP1RFUXZWU9B,5,114,126,N,N
2402415,R1L2H6IJHX7Q6F,5,47,51,N,N

In [6]:
# Our Analysis for Vine

v_total_reviews = len(vine_df['review_id'])
v_total_5star = vine_df['star_rating'].loc[vine_df['star_rating'] == 5].count()
v_pct_5star = v_total_5star / v_total_reviews

print(f' Out of {v_total_reviews} reviews of Vine products, {v_total_5star} or {v_pct_5star*100}% were 5-star reviews.')

 Out of 61 reviews of Vine products, 20 or 32.78688524590164% were 5-star reviews.

In [7]:
# Our Analysis for Non-Vine

nv_total_reviews = len(nonvine_df['review_id'])
nv_total_5star = nonvine_df['star_rating'].loc[nonvine_df['star_rating'] == 5].count()
nv_pct_5star = nv_total_5star / nv_total_reviews

print(f' Out of {nv_total_reviews} reviews of non-Vine products, {nv_total_5star} or {nv_pct_5star*100}% were 5-star reviews.')

 Out of 28287 reviews of non-Vine products, 15689 or 55.463640541591545% were 5-star reviews.